html,
body{
    height: 100%;
    font-size:                                                                                                         1rem;
}
gradient{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(106,0,210,1) 100%);   
}